.AsyncButton {
  padding: 10px 25px;
  border-radius: 25px;
  min-width: 150px;
  outline: none;
  background: #0ac2b9;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.35s ease;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  display: block;
}

.AsyncButton:hover {
  cursor: pointer;
  transform: translateY(-2px)
}

.Async {
  border-bottom: 1px solid gray;
  margin-top: 30px
}

.AsyncP {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 40px;
  font-family: arial;
}